@font-face {
  font-family: Gilford ;
  src: url(https://www.spiritspotcafe.com/Fonts/Gilford.otf);
}
@font-face {
  font-family: Tulip ;
  src: url(https://www.spiritspotcafe.com/Fonts/TulipFever.otf);
}
@font-face {
  font-family: Way ;
  src: url(https://www.spiritspotcafe.com/Fonts/GodsWay.otf);
}
