form {display: none;}   
	table { margin:auto;}
	tr {border:black 3px solid; border-radius: 20px; background: white; color: black; padding: 3px;}
	td {border:black 3px solid;  border-radius: 20px; background: white; color: black;}
	
